<%= form_with(model: [@acc, @post], local: true) do |form| %>
  <%if post.errors.any?%>
    <div id='errors_explanations'>
      <h2><%= pluralize(post.errors.count, 'error')%>prohibited this post form being saved</h2>

      <u1>
        <% if post.errors.full_messages.each do |message|%>
          <li><%= message %></li>
        <% end %>
        <% end %>
      </u1>
    </div>
  <% end %>

  <div class='center jumbotron'>
    <%= form.label :title %>
    <br>
    <%= form.text_field :title %>
    <br><br>
    <%= form.label :message %>
    <br>
    <%= form.text_area :message %>
      <br>
    <%= form.label :image %>
    <br>
    <%= form.hidden_field :image, value: @post.cached_image_data%>
    <%= form.file_field :image %>
    <br>
    <%= form.submit %>
  </div>
<% end %>
