<div class="center jumbotron">
<p id="notice"><%=notice%></p>
<h1>Your posts, <%= @acc.username%></h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Message</th>
    </tr>
  </thead>

  <tbody>
    <%@posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.message %></td>
        <td><%= image_tag post.image_url %></td>
        <td><br></td>
        <td><%= link_to 'Show', account_post_path(@acc, post)%></td>
        <% if current_account == @acc %>
          <td><%= link_to 'Edit', edit_account_post_path(@acc, post) %></td>
          <td><%= link_to 'Destroy', account_post_path(@acc, post), method: :delete, data: { confirm: "You are sure?"} %></td>
        <% end %>
        <td><br></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_account == @acc %>
  <%= link_to 'New Post', new_account_post_path %>
<% end %>
