
<p id="notice"><%=notice%></p>
<h1>Your posts, <%= @acc.username %></h1>

<%@posts.each do |post| %>
  <form class="center jumbotron">
    <legend><%= post.title %><</legend>
      <span class="help-block"><%= post.message %></span>
      <img src="<%= post.image_url %>" class="img-rounded">
      <br>
      <br>
      <button type="submit"><%= link_to 'Show', account_post_path(@acc, post)%></button>
      <button type="submit"><%= link_to 'Edit', edit_account_post_path(@acc, post)%></button>
      <button type="submit">
        <%= link_to 'Destroy', account_post_path(@acc, post), method: :delete, data: { confirm: "You are sure?"}%>
      </button>
  </form>
  <br>
<% end %>

<% if current_account == @acc %>
  <button class="img-responsive center-block" type="submit">
    <%= link_to 'New Post', new_account_post_path(@acc)%>
    <br>
  </button>
<% end %>
