<div class="center jumbotron">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Message:</strong>
  <%= @post.message %>
</p>

<p>
  <strong>Picture:</strong><br>
  <%= image_tag @post.image_url(:medium) %>
</p>
<% if current_account == @acc %>
  <%= link_to 'Edit', edit_account_post_path(@acc, @post), class: "btn btn-info" %>
<% end %>

<% pre_like = @post.likes.find {| like | like.account_id == current_account.id} %>
<% if pre_like %>
  <%= link_to 'Unlike', post_like_path(@post, pre_like), method: :delete, class: "btn btn-danger" %>
<% else %>
  <%= link_to 'Like', post_likes_path(@post), method: :post, class: "btn btn-danger"  %>
<% end %>
Likes: <%= @post.likes.count %>

<%= link_to 'Back', account_posts_path(@acc), class: "btn btn-dark" %>
<br>

<% @post.comments.each do |comment| %>
  <br><br>
  <%= link_to "#{comment.account.username}", account_path(comment.account) %>:
  <%= comment.message %>
  <% if policy(comment).destroy? %>
    <%= link_to 'delete', post_comment_path(@post, comment), method: :delete, class: "btn btn-warning" %>
  <% end %>
<% end %>

<br><br>
<%= link_to 'add comment', new_post_comment_path(@post), class: "btn btn-success" %>
