<div class="center jumbotron">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Message:</strong>
  <%= @post.message %>
</p>

<p>
  <strong>Picture:</strong><br>
  <%= image_tag @post.image_url(:medium) %>
</p>
<% if current_account == @acc %>
  <%= link_to 'Edit', edit_account_post_path(@acc, @post) %>
<% end %>
<%= link_to 'Like', post_likes_path(@post), method: :post %>
Likes: <%= @post.likes.count %>
<%= link_to 'Back', account_posts_path(@acc) %>
<br>

<% @post.comments.each do |comment| %>
  <br>
  <%= link_to "#{comment.account.username}", account_path(comment.account) %>:
  <%= comment.message %>
  <% if policy(comment).destroy? %>
    <%= link_to 'delete', post_comment_path(@post, comment), method: :delete %>
  <% end %>
<% end %>

<br>
<button type="submit"><%= link_to 'add comment', new_post_comment_path(@post) %></button>
