<h1>Editing Account</h1>

<%= form_with(model: @acc, local: true) do |form| %>
  <% if @acc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@acc.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @acc.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='center jumbotron'>
    <%= form.label :username %>
    <br>
    <%= form.text_field :username %>
    <br><br>
    <%= form.label :bio %>
    <br>
    <%= form.text_area :bio %>
    <br>
    <%= form.label :avatar %>
    <br>
    <%= form.hidden_field :avatar, value: @acc.cached_avatar_data %>
    <%= form.file_field :avatar %>
    <br>
    <%= form.submit %>
  </div>
<% end %>

<div class="center jumbotron">
  <%= link_to 'Show', account_path(@acc), class: 'btn btn-success' %> |
  <%= link_to 'Back', account_path(@acc), class: 'btn btn-warning' %>
</div>
