<h1>Editing Account</h1>

<%= form_with(model: @acc, local: true) do |form| %>
  <% if @acc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@acc.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @acc.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :bio %><br />
    <%= form.text_area :bio %>
  </div>

  <div class="field">
    <%= form.hidden_field :avatar, value: @acc.cached_avatar_data %>
    <%= form.file_field :avatar %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Show', account_path(@acc) %> |
<%= link_to 'Back', account_path(@acc) %>
