<div class="center jumbotron">
<h1> <%= @acc.username %> | Profile</h1>
<!--Name: <%= @acc.username %>-->
<br>
Email: <%= @acc.email %>
<br>
<%= link_to('Feed', feed_posts_path) %>
<br>
<%= link_to('Publications', account_posts_path(@acc)) %>
<br>
<%= link_to('Followers', account_followers_path(@acc)) %>
<br>
<%= link_to('Followings', account_followings_path(@acc)) %>
<br>
<% if current_account.present? && current_account != @acc %>
  <% unless current_account.followings.include?(@acc) %>
    <h2> You can follow this user: </h2>
    <%= link_to 'Follow', follows_path(following_id: @acc.id), method: :post %>
  <% else %>
    <h2> You can unfollow this user: </h2>
    <%= link_to 'Unfollow', follow_path(following_id: @acc.id), method: :delete %>
  <% end %>
<% end %>
