<div class="center jumbotron accounts">
<h1> <img src="<%= @acc.avatar_url(:ava) %>" class="img-circle"> <%= @acc.username %> | Profile</h1>

<span class="email">
  <span class="email_title"> Email: </span>
  <%= @acc.email %>
</span>

<br><br>

<span class="bio">
  <span class="bio_title"> Bio:</span>
  <%= @acc.bio %>
</span>
<br><br>

<table style="margin:0 auto">
  <col span="3" align="center">
    <tr>
      <% if policy(@acc).update?  %>
        <td> <%= link_to 'Update profile', edit_account_path(@acc), class: "btn btn-primary"%> </td>
      <% else %>
        <td> </td>
      <% end %>
      <td> <%= link_to 'Feed', feed_posts_path, class: "btn btn-success" %> </td>
      <td> <%= link_to 'Publications', account_posts_path(@acc), class: "btn btn-primary"%> </td>
      <td> <%= link_to 'Followers', account_followers_path(@acc), class: "btn btn-success" %> </td>
      <td> <%= link_to 'Followings', account_followings_path(@acc), class: "btn btn-primary" %> </td>
    </tr>
    <tr>
      <td> </td>
      <td> </td>
      <td> <h4> <%= @acc.posts.count %> </h4> </td>
      <td> <h4> <%= @acc.followers.count %> </h4> </td>
      <td> <h4> <%= @acc.followings.count %> </h4></td>
    </tr>
</table>

<% if current_account.present? && current_account != @acc %>
  <% unless current_account.followings.include?(@acc) %>
    <h2> You can follow this user: </h2>
    <%= link_to 'Follow', follows_path(following_id: @acc.id), method: :post, class: "btn btn-info" %>
  <% else %>
    <h2> You can unfollow this user: </h2>
    <%= link_to 'Unfollow', follow_path(following_id: @acc.id), method: :delete, class: "btn btn-warning" %>
  <% end %>
<% end %>
